{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>Page does not exist!</h1>
      <br/>
    </div>
  </div>
{{ end }}

